{% extends "layout/base.html" %}

{% block basecontent %}
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:index' %}">Quizzera Analytics</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'dashboard:index' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'dashboard:quiz' %}">Quizzes</a>
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right">
            <!-- Search Bar -->
            <form class="navbar-form navbar-left" id="user_form" method="get" action="{% url 'dashboard:profile' %}">
                    {% csrf_token %}
                <div class="form-group">
                    <input class="form-control search-input" type="text" size="50" name="student_id" placeholder="Search by NetID" id="student_id" />
                </div>
                <input class="btn btn-primary" type="submit" name="submit" value="Search" />
            </form>
            <!-- /.dropdown-user-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{request.user.username}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url 'cas_ng_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        {% block content %}

        {% endblock content %}
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock basecontent %}